<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>pdf</title>
    <script type="module" crossorigin src="/simulados/assets/index-C7n1wJzZ.js"></script>
    <link rel="stylesheet" crossorigin href="/simulados/assets/index-wMhPLEGK.css">
    <style>
        .header,
        #navbar {
            display: none;
        }

    </style>
</head>

<body>
    <main>
        <div id="pdfPreview" data-id="<%= simulado.id_simulado %>"></div>
    </main>

</body>
</html>


