<div class="editor-container hide" id="editor-box">

    <div class="symbols-container " id="symbols-box">
        <div class="symbol-section " id="section-1">
            <div>
                <button type="button" id="limit-btn"><img src="/img/main-functions/limit.svg" alt=""></button>
                <button type="button" id="integral-btn"><img style="width: 11px;" src="/img/main-functions/integral.svg" alt=""></button>
                <button type="button" id="productory-btn"><img src="/img/main-functions/product.svg" alt=""></button>
                <button type="button" id="summation-btn"><img src="/img/main-functions/summation.svg" alt=""></button>
                <div class="hidden-symbols hide" id="hidden-section-1">
                    <div>
                        <button type="button" id="direct-limit-btn"><img src="/img/main-functions/direct-limit.svg" alt=""></button>
                        <button type="button" id="var-integral-btn"><img style="width: 15px;" src="/img/main-functions/var-integral.svg" alt=""></button>
                        <button type="button" id="coproductory-btn"><img src="/img/main-functions/coproduct.svg" alt=""></button>
                        <button type="button" id="inverse-limit-btn"><img src="/img/main-functions/inverse-limit.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button" id="surface-integral-btn"><img style="width: 15px;" src="/img/main-functions/surface-integral.svg" alt=""></button>
                        <button type="button" id="limit-superior-btn"><img src="/img/main-functions/limit-superior.svg" alt=""></button>
                        <button type="button" id="volume-integral-btn"><img style="width: 20px;" src="/img/main-functions/volume-integral.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button" id="limit-inferior-btn"><img src="/img/main-functions/limit-inferior.svg" alt=""></button>
                        <button type="button" id="curve-integral-btn"><img style="width: 13px;" src="/img/main-functions/curve-integral.svg" alt=""></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="symbol-section" id="section-2">
            <div>
                <button type="button" id="log-btn"><img src="/img/basic-operations/logarithm.svg" alt=""></button>
                <button type="button" id="function-btn"><img src="/img/basic-operations/function.svg"  alt="Plus minus"></button>
                <button type="button" id="sqrt-btn"><img src="/img/basic-operations/square-root.svg"  alt="Plus minus"></button>
                <button type="button" id="fraction-btn"><img src="/img/basic-operations/division.svg"  style="width: 10px;" alt=""></button>
            </div>
        </div>
        <div class="symbol-section">
            <div>
                <button type="button"  id="natural-number-btn"><img src="/img/number-sets/natural-number.svg" alt=""></button>
                <button type="button" id="integer-number-btn"><img src="/img/number-sets/integer.svg" alt=""></button>
                <button  type="button" id="rational-number-btn"><img src="/img/number-sets/rational-number.svg" alt=""></button>
                <button type="button"  id="real-number-btn"><img src="/img/number-sets/real-number.svg" alt=""></button>
                <button type="button"  id="complex-number-btn"><img src="/img/number-sets/complex-number.svg" alt=""></button>
            </div>
        </div>
        <div class="symbol-section" id="constants-section">
            <div>
                <button type="button"  id="pi-btn"><img src="/img/constants/pi.svg" alt=""></button>
                <button type="button"  id="lambda-btn"><img src="/img/constants/lambda.svg" alt=""></button>
                <button type="button"  id="euler-btn"><img src="/img/constants/euler.svg" alt=""></button>
                <div class="hidden-symbols hide" id="hidden-constants-section">
                    <div>
                        <button type="button"  id="eistein-gravitational-btn"><img src="/img/constants/eistein-gravitational.svg" alt=""></button>
                        <button type="button"  id="euler-mascheroni-btn"><img src="/img/constants/euler-mascheroni.svg" alt=""></button>
                        <button type="button"  id="imaginary-unit-btn"><img src="/img/constants/imaginary-unit.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button"  id="prouhet-thue-morse-btn"><img src="/img/constants/prouhet-thue-morse.svg" alt=""></button>
                        <button type="button"  id="ramanujan-soldner-btn"><img src="/img/constants/ramanujan-soldner.svg" alt=""></button>
                        <button type="button"  id="somos-quadratic-recurrence-btn"><img src="/img/constants/somos-quadratic-recurrence.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button"  id="golden-radio-btn"><img src="/img/constants/golden-radio.svg" alt=""></button>
                        <button type="button"  id="infinity-btn"><img src="/img/constants/infinity.svg" alt=""></button>
                        <button type="button"  id="thetha-btn"><img src="/img/constants/thetha.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button"  id="vacuum-permittivity-btn"><img src="/img/constants/vacuum-permittivity.svg" alt=""></button>
                        <button type="button"  id="delta-btn"><img src="/img/constants/delta.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="symbol-section">
            <div>
                <button type="button"  id="sin-btn"><img src="/img/trigonometry/sin.svg" alt=""></button>
                <button type="button"  id="cos-btn"><img src="/img/trigonometry/cos.svg" alt=""></button>
                <button type="button"  id="tan-btn"><img src="/img/trigonometry/tan.svg" alt=""></button>
                <div class="hidden-symbols hide">
                    <div>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                        <button type="button" ><img src="/img/trigonometry/sec.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="symbol-section" id="logical-section">
            <div>
                <button type="button"  id="logical-conjunction-btn"><img src="/img/logic/logical-conjunction.svg" alt=""></button>
                <button type="button"  id="logical-disjunction-btn"><img src="/img/logic/logical-disjunction.svg" alt=""></button>
                <button type="button"  type="button"  id="logical-equivalence-short-btn"><img src="/img/logic/logical-equivalence-short.svg" alt=""></button>
                <button type="button"  id="logical-equivalence-long-btn"><img src="/img/logic/logical-equivalence-long.svg" alt=""></button>
                <div class="hidden-symbols hide" id="hidden-logical-section">
                    <div>
                        <button type="button"  id="contradiction-btn"><img src="/img/logic/contradiction.svg" alt=""></button>
                        <button type="button"  id="deductive-reasoning-btn"><img src="/img/logic/deductive-reasoning.svg" alt=""></button>
                        <button type="button"  id="exclusive-or-btn"><img src="/img/logic/exclusive-or.svg" alt=""></button>
                        <button type="button"  id="existential-quantification-btn"><img src="/img/logic/existential-quantification.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button"  id="logical-negation-btn"><img src="/img/logic/logical-negation.svg" alt=""></button>
                        <button type="button"  id="logical-equivalence-single"><img src="/img/logic/logical-equivalence-single.svg" alt=""></button>
                        <button type="button"  id="short-right-arrow-btn"><img src="/img/logic/short-right-arrow.svg" alt=""></button>
                        <!-- <button id="long-right-arrow-btn"><img src="/img/logic/long-right-arrow.svg" alt=""></button> -->
                    </div>
                    <div>
                        <button type="button"  id="tautology-btn"><img src="/img/logic/tautology.svg" alt=""></button>
                        <button type="button"  id="uniqueness-quantification-btn"><img src="/img/logic/uniqueness-quantification.svg" alt=""></button>
                        <button type="button"  id="universal-quantification-btn"><img src="/img/logic/universal-quantification.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="symbol-section" id="set-operations-section">
            <div>
                <button type="button"  id="intersection-small-btn"><img src="/img/set-operations/intersection-small.svg" alt=""></button>
                <button type="button"  id="union-small-btn"><img src="/img/set-operations/union-small.svg" alt=""></button>
                <button type="button"  id="element-of-btn"><img src="/img/set-operations/in.svg" alt=""></button>
                <button type="button"  id="not-element-of-btn"><img src="/img/set-operations/not-in.svg" alt=""></button>
                <button type="button"  id="subset-btn"><img src="/img/set-operations/subset.svg" alt=""></button>
                <button type="button"  id="not-subset-btn"><img src="/img/set-operations/not-subset.svg" alt=""></button>

                <div class="hidden-symbols hide" id="hidden-set-operations-section">
                    <div>
                        <button type="button" ><img src="/img/set-operations/ni.svg" alt=""></button>
                        <button type="button" ><img src="/img/set-operations/not-in.svg" alt=""></button>
                        <button type="button" ><img src="/img/set-operations/supset.svg" alt=""></button>
                        <button type="button" ><img src="/img/set-operations/not-supset.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="symbol-section">
            <div>
                <button type="button"  id="left-arrow-btn"><img src="/img/arrows/left-arrow.svg" alt=""></button>
                <button  type="button" id="right-arrow"><img src="/img/arrows/right-arrow.svg" alt=""></button>
                <button type="button"  id="long-left-arrow-btn"><img src="/img/arrows/long-left-arrow.svg" alt=""></button>
                <button type="button"  id="long-right-arrow-btn"><img src="/img/arrows/long-right-arrow.svg" alt=""></button>
            </div>
        </div>
        <div class="symbol-section" id="comparison-section">
            <div>
                <button type="button"  id="lesser-than-btn"><img src="/img/arithmetic-comparison/lesser-than.svg" alt=""></button>
                <button type="button"  id="equality-btn"><img src="/img/arithmetic-comparison/equality.svg" alt=""></button>
                <button type="button"  id="greater-than-btn"><img src="/img/arithmetic-comparison/greater-than.svg" alt=""></button>
                <button type="button"  id="plus-minus-btn"><img src="/img/arithmetic-comparison/plus-minus.svg" alt=""></button>
                <div class="hidden-symbols hide" id="hidden-comparison-symbols">
                    <div>
                        <button type="button"  id="leqslant-btn"><img src="/img/arithmetic-comparison/leqslant.svg" alt=""></button>
                        <button type="button"  id="identity-btn"><img src="/img/arithmetic-comparison/identity.svg" alt=""></button>
                        <button type="button"  id="geqslant-btn"><img src="/img/arithmetic-comparison/geqslant.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button"  id="lessapprox-btn"><img src="/img/arithmetic-comparison/lessapprox.svg" alt=""></button>
                        <button type="button"  id="approximation-btn"><img src="/img/arithmetic-comparison/approximation.svg" alt=""></button>
                        <button type="button"  id="gtrappox-btn"><img src="/img/arithmetic-comparison/gtrapprox.svg" alt=""></button>
                    </div>
                    <div>
                        <button type="button"  id="lessless-btn"><img src="/img/arithmetic-comparison/lessless.svg" alt=""></button>
                        <button type="button"  id="equivalence-class-btn"><img src="/img/arithmetic-comparison/equivalence-class.svg" alt=""></button>
                        <button type="button"  id="greater-greater-btn"><img src="/img/arithmetic-comparison/gg.svg" alt=""></button>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="symbol-section">
            <div>
                <button type="button"  id="brackets-matrix-btn"><img src="/img/matrices-and-vectors/brackets-matrix.svg" alt=""></button>
                <button type="button"  id="parentheses-matrix-btn"><img src="/img/matrices-and-vectors/parentheses-matrix.svg" alt=""></button>
                <button type="button"  id="pipes-matrix-btn"><img src="/img/matrices-and-vectors/vert-matrix.svg" alt=""></button>
                <button type="button"  id="braces-matrix-btn"><img src="/img/matrices-and-vectors/keys-matrix.svg" alt=""></button>
            </div>
        </div>
    </div>
    <div class="equation-editor">
        <div>
            <button type="button"  class="editor-close-btn" id="editor-close-btn">&times</button>
        </div>
        
        <div type="text" class="equation-preview">
            <span id="equation-preview"></span>
        </div>


        <!-- <div type="text" class="equation-preview">
            <textarea id="equation-preview"></textarea>
        </div> -->

        <div class="item">
            <textarea name="" id="equation-input"></textarea>
            <div class="equation-btn-box">
                <button type="button"  id="symbols-box-btn">&#x2630</button>
                <button type="button"  id="clear-btn">C</button>
            </div>
        </div>
        <div class="item">
            <button type="button"  class="generator-btn" id="insert-btn">Inserir</button>
        </div>
    </div>

</div>