<div id="editors-container">
    <h4>Alternativas</h4>


    <a>
        <span>
           Resposta :
        </span>
    </a>
    <div>

        <div id="opcaoA" class="editor-container">
        </div>


       
        