<div id="editors-container">
    <h4>Alternativas</h4>


    <a>
        <span>
           Resposta :
        </span>
    </a>
    <div>
        <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
        style="display: none;" id="editor-open-btnA"> Adicionar Equação
    </button>
        <div id="opcaoA" >
        </div>


       
        