<div id="editors-container">
    <h4>Alternativas</h4>


<a>
    <span>
       Opção A:
    </span>
</a>
<div>

    <div id="opcaoA" class="editor-container">
    </div>

<br>
<a>
    <span>
        Opção B:
    </span>
</a>
<div>

    <div id="opcaoB" class="editor-container">
    </div>
    <br>
<a>
    <span>
        Opção C:
    </span>
</a>
<div>
    
    <div id="opcaoC" class="editor-container">
    </div>
    <br>
<a>
    <span>
        Opção D:
    </span>
</a>
<div>
   
    <div id="opcaoD" class="editor-container">
    </div>
    <br>
<a>
    <span>
        Opção E:
    </span>
</a>
<div>

    <div id="opcaoE" class="editor-container">
    </div>
</div>
