<div id="editors-container">

    <h4>Respostas</h4>


<a>
    <span>
       Opção A:
    </span>
</a>
<div>

    <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
    style="display: none;" id="editor-open-btnA"> Adicionar Equação
</button>
    <div id="opcaoA" >
    </div>

<br>
<a>
    <span>
        Opção B:
    </span>
</a>
<div>
    <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
    style="display: none;" id="editor-open-btnB"> Adicionar Equação
</button>
    <div id="opcaoB" >
    </div>
    <br>
<a>
    <span>
        Opção C:
    </span>
</a>
<div>
    <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
    style="display: none;" id="editor-open-btnC"> Adicionar Equação
</button>
    <div id="opcaoC" >
    </div>
    <br>
<a>
    <span>
        Opção D:
    </span>
</a>
<div>
    <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
    style="display: none;" id="editor-open-btnD"> Adicionar Equação
</button>
    <div id="opcaoD" >
    </div>
    <br>
<a>
    <span>
        Opção E:
    </span>
</a>
<div>
    <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
    style="display: none;" id="editor-open-btnE"> Adicionar Equação
</button>
    <div id="opcaoE" >
    </div>
</div>
