<!--========== HEADER ==========-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    #perfilImage {
        cursor: pointer;
    }
    .nav__logo-img {
    width: 50px;
    height: 50px;
}
.nav__link.active {
    color: #12B886; /* Altera a cor do texto para verde */
}

</style>
<header class="header">
    <div class="header__container">

        <a href="" class="header__logo">IFVest</a>

        <div class="header__search">
            <input type="search" placeholder="Search" class="header__input">
            <i class='bx bx-search header__icon'></i>
        </div>

        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

      
        <div style="display: flex; align-items: center;">
            <a href="/usuario/perfil" class="header__logo-name" style="margin-right: 10px;">
                <%= nomeUsuario %>
            </a>
           
            <img src="<%= imagemPerfil ? imagemPerfil : '/img/profile.jpg' %>" alt="Perfil" class="header__img" id="perfilImage">


            
        </div>
 

    </div>
</header>

<!--========== NAV ==========-->
<div class="nav" id="navbar">
    <nav class="nav__container">
        <div>
            <a href="/usuario/iniciologado" class="nav__link nav__logo">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/12B886/if.png" alt="if"/>
                
            </a>

            <div class="nav__list">
                <div class="nav__items">
                    <h3 class="nav__subtitle">Perfil</h3>

                    <a href="/usuario/iniciologado" class="nav__link active">
                        <i class='bx bx-home nav__icon'></i>
                        <span class="nav__name">Inicio</span>
                    </a>

                    <div class="nav__dropdown">
                        <a href="/usuario/perfil" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>
                            <span class="nav__name">Perfil</span>
                           
                        </a>


                    </div>


                </div>

                <div class="nav__items">
                    <h3 class="nav__subtitle">Menu</h3>

                   

                    <a href="#" class="nav__link">
                        <i class='bx bx-compass nav__icon'></i>
                        <span class="nav__name">Explore</span>
                    </a>


                    <div class="nav__dropdown">
                        <a href="/usuario/video" class="nav__link">
                            <i class='bx bxs-video nav__icon' ></i>
                            <span class="nav__name">Videos</span>
                            
                        </a>



                    </div>
                    <% if (perfilUsuario==="PROFESSOR" ) { %>
                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-question-mark nav__icon' ></i>
                            
                            <span class="nav__name">Questões</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">

                                    
                                        <a href="/professor/registrar-questao/objetiva"
                                        class="nav__dropdown-item">  <i class='bx bx-checkbox-square' ></i>Objetiva</a>
                                    <a href="/professor/registrar-questao/dissertativa"
                                        class="nav__dropdown-item"><i class='bx bxs-paint' ></i> Dissertativa</a>
                              
                                      
                                    <a href="/professor/questoes" class="nav__dropdown-item"><i class='bx bxs-paint' ></i>Minhas questões</a>
                                    <a href="/professor/manutencao" class="nav__dropdown-item"><i class='bx bxs-paint' ></i>Verificação IA</a>
                           

                            </div>
                        </div>

                    </div>
                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-check-square nav__icon'></i>
                            <span class="nav__name">Topicos</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>


                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">

                                <a href="/professor/criar-topicos" class="nav__dropdown-item">Criar Topicos</a>
                                <a href="/professor/topicos" class="nav__dropdown-item">Meus Topicos</a>
                            </div>
                        </div>

                    </div>
                    <% } %>
                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-book-heart nav__icon'></i>
                            <span class="nav__name">Simulados</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>


                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
  
                                        <a href="/usuario/criar-simulado" class="nav__dropdown-item">Criar Simulado</a>
                                        <a href="/usuario/Simulados" class="nav__dropdown-item">Meus Simulados</a>
                                        <!-- <a href="/usuario/seleciona-simulado" class="nav__dropdown-item">Consultar simulados</a> -->


                            </div>
                        </div>

                    </div>
                </div>
            </div>
          
        </div>

        <form action="/logoff" method="post" class="nav__logout-form">
            <a id="logout-link" class="nav__link nav__logout" onclick="">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </form>
       
    </nav>
</div>
<script>
    document.getElementById('perfilImage').addEventListener('click', function() {
        window.location.href = '/usuario/perfil';
    });
</script>
<script>
    document.getElementById('logout-link').addEventListener('click', function(event) {
        event.preventDefault(); // Impede o comportamento padrão do link
        document.querySelector('.nav__logout-form').submit(); // Envia o formulário
    });
    </script>

<!--========== CONTENTS ==========-->