
  <head>
    <link rel="stylesheet" href="/css/bioTimeDesenvolvedor.css">
  </head>
 
  <h1 class="TimeDesenvolvedores">Desenvolvedores</h1>
  <div class="space space--small"></div>
  <div class="cards">
    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Aline.png" alt=""/>
        </div>

        <div class="card__content">
          <h1 class="card__title">Aline de Lucas</h1>
          <span class="card__function">Idealizadora da Plataforma IFVest</span>

          <p class="card__description">
            Graduada em Matemática pela Universidade Federal de Santa Maria (2003), com mestrado (2005) e doutorado (2009) em Geofísica Espacial pelo INPE. Atua no curso de Análise e Desenvolvimento de Sistemas no IFSP Campus Jacareí desde 2018. Foi a idealizadora da Plataforma IFVest, dando nome ao projeto e colaborando com os colegas especialistas em desenvolvimento de software e web para orientar os bolsistas envolvidos.
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Rafael.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Rafael</h1>
          <span class="card__function">Desenvolvedor Full Stack</span>

          <p class="card__description">
            Formado no IFSP Jacareí e atualmente trabalho como desenvolvedor Full Stack utilizando React, Flutter e C#. Meu primeiro grande projeto foi a primeira versão do IFVest, um projeto muito desafiador, mas também muito divertido. Nas minhas horas livres, gosto de programar e estudar novos idiomas.
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Rafael.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Rafael</h1>
          <span>Desenvolvedor Full Stack</span>

          <p class="card__description">
            Formado no IFSP Jacareí e atualmente trabalho como desenvolvedor Full Stack utilizando React, Flutter e C#. Meu primeiro grande projeto foi a primeira versão do IFVest, um projeto muito desafiador, mas também muito divertido. Nas minhas horas livres, gosto de programar e estudar novos idiomas.
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Rafael.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Rafael</h1>
          <span>Desenvolvedor Full Stack</span>

          <p class="card__description">
            Formado no IFSP Jacareí e atualmente trabalho como desenvolvedor Full Stack utilizando React, Flutter e C#. Meu primeiro grande projeto foi a primeira versão do IFVest, um projeto muito desafiador, mas também muito divertido. Nas minhas horas livres, gosto de programar e estudar novos idiomas.
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Luciana.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Luciana Rebelo</h1>
          <span class="card__function">Orientadora dos alunos bolsistas no começo do projeto IFVest, juntamente com a professora Aline de Lucas</span>

          <p class="card__description">
            Doutora em Computação Aplicada pelo INPE - Instituto Nacional de Pesquisas Espaciais (2015), Mestre em Engenharia Eletrônica e Computação pelo ITA - Instituto Tecnológico de Aeronáutica (2009) e Bacharel em Sistemas de Informação pela UNESP - Universidade Estadual Paulista (2001). É docente no Instituto Federal de Educação, Ciência e Tecnologia de São Paulo, lotada no campus Jacareí, cargo do qual está afastada para realizar Pós-doutorado no Gran Sasso Science Institute (GSSI), Itália. Atuou também como colaboradora no programa de Pós-Graduação em Computação Aplicada no INPE.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>

  <script src="/js/timeDesenvolvimento.js"></script>