<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<header class="header">
    <div class="header__container">
        <a href="/usuario/iniciologado" class="header__logo">IFVest</a>
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
        <div style="display: flex; align-items: center;">
            <a href="/usuario/perfil" class="header__logo-name" style="margin-right: 10px;">
                <%= nomeUsuario %>
            </a>
            <img 
                src="<%= imagemPerfil ? imagemPerfil : '/img/profile.jpg' %>" 
                alt="Perfil" 
                class="header__img"
                id="perfilImage"
            >
        </div>
    </div>
</header>