<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== Bootstrap ==========-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!--========== HEADER ==========-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    
    <!-- shared css -->
     
    <link rel="stylesheet" href="/shared/css/shared.css">
    <link rel="stylesheet" href="/css/colorful-container.css">
</head>

<body>
    <%- include('header') %>
    <%- include('sidebar') %>
    <main class="main">
        <div class="container">
            <%- body %>
        </div>
    </main>
    <%- include('footer') %>
    
    <!--========== MAIN JS ==========-->
    <script src="/js/main.js"></script>
</body>
