
<link rel="stylesheet" href="/flashcards/css/flashcardFiltros.css">
<form action="/flashcards" method="GET" class="filters">
  <select name="id_area" id="area" class="select">
    <option value="">Selecione a Área (opcional)</option>
  </select>

  <select name="id_topico" id="topico" class="select">
    <option value="">Selecione o Tópico (opcional)</option>
  </select>

  <select name="id_dificuldade" id="dificuldade" class="select">
    <option value="">Selecione a Dificuldade (opcional)</option>
  </select>

  <button type="submit" class="simulado-btn">FILTRAR FLASHCARDS</button>
</form>


<script src="/flashcards/js/carregarFiltros.js"></script>
