.colorful-container {
    display: flex;
	justify-content: start;
    flex-wrap: wrap;
	gap: 0.5rem;
}

.colorful-container .colorful-btn{
	width: 30%;
	height: 120px;
	float: left;
	background: #111;
	color: #eee;
	position: relative;
	border-radius: 15px;
	padding: 15px;
	cursor: pointer;
	
	/* margin: 0.5rem; */
	
	overflow: hidden;

    font-weight: bold;
    font-size: 1.7rem;
}

.colorful-container .colorful-btn::before{
	content: "";
	background-color: #f9b234;
	width: 70px;
	border-radius: 50%;
	position: absolute;
	right: -25px;
	top: -25px;
	
	aspect-ratio: 1/1;
	
	transition: all ease 200ms;
	
	z-index: 3;
	
}

.colorful-container .colorful-btn.large{
	width: 45%;
	margin: 0;
}

.colorful-container .colorful-btn:hover::before{
	width: 250%;

	/* transform: scale(2); */

	/* right: 0;
	top: 0; */
	
	transform: translate(50%, -50%)
}

.colorful-container .colorful-btn > div{
	position: absolute;
	z-index: 5;
}

.colorful-container .colorful-btn:nth-child(2n)::before{
	background-color: #3ecd5e;
}


.colorful-container .colorful-btn:nth-child(3n)::before{
	background-color: #e44002;
}


.colorful-container .colorful-btn:nth-child(4n)::before{
	background-color: #952aff;
}


.colorful-container .colorful-btn:nth-child(5n)::before{
	background-color: #cd3e94;
}


.colorful-container .colorful-btn:nth-child(6n)::before{
	background-color: #4c49ea;
}

@media screen and (max-width: 768px) {
	.colorful-container{
		padding: 0.5rem 0 3rem;
	}
	.colorful-container .colorful-btn, .colorful-container .colorful-btn.large{
		width: 100%;
	}
}