<!DOCTYPE html>
<html lang="en">

<head>
    <!--========== CSS ==========-->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/revisao/criar_material.css">
  

        <title>Criar Material - Módulo de Revisão de Conteúdo - IFVest</title>
</head>

<body>
    <main>
        <h1>Criar Material</h1>
        <p style="display: none;"></p>

        <div class="form-container">
            <form id="materialForm">
                <!-- Título -->
                <div class="form-group">
                    <label for="materialTitulo">Título do Material</label>
                    <input type="text" class="form-control" id="materialTitulo"
                        placeholder="Ex: Introdução ao Trovadorismo">
                </div>

                <!-- Seletores de Assunto -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="selectAssunto">Assunto</label>
                        <select id="selectAssunto" class="form-control">
                            <option value="">Selecione uma opção
                            </option>
                            <% Assuntos.forEach(assunto=> { %>
                                <option value="<%= assunto.id_assunto %>">
                                    <%= assunto.nome %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-column">

                    <div class="d-flex align-items-end mb-3">
                        <div class="col-md-8 pe-2">
                            <label for="palavrasChave" class="form-label">Palavras-chave</label>
                            <input type="text" class="form-control" id="palavrasChave" list="palavrasChaveList"
                                placeholder="trovador, cantigas, vassalagem">
                            <datalist id="palavrasChaveList">
                                <% palavrasChave.forEach(palavra=> { %>
                                    <option value="<%= palavra %>">
                                        <% }); %>
                            </datalist>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" onclick="addKeyword()">Adicionar
                                palavra-chave</button>
                        </div>
                    </div>
                    <div class="tag-box w-100">

                    </div>
                </div>


                <div id="editor"></div>


                <button type="button" id="submitButton" class="btn btn-primary w-100">Criar Material</button>
            </form>
        </div>
    </main>


    <!--========== MAIN JS ==========-->
    <script src="/revisao/js/criar_material.js"></script>
    <script src="/revisao/js/handlers/criarMaterialHandler.js"></script>
    <script src="/js/validations/validate.js"></script>
    <script>
        // definição de IIFE com Closure
        const ContentManager = (() => {
            // Variáveis privadas
            let editorContent = '';
            let referenceContent = '';

            // Escuta os eventos e atualiza as variáveis locais
            window.addEventListener('editorContentChange', (event) => {
                editorContent = event.detail.content;
            });

            window.addEventListener('referenceContentChange', (event) => {
                referenceContent = event.detail.content;
            });

            // Expõe métodos para acessar os conteúdos
            return {
                getEditorContent: () => editorContent,
                getReferenceContent: () => referenceContent,
                getConteudoMarkdown: () => 'Digita aqui o material ...  ',
                getReferencias: () => 'Digite aqui as referências ...',
            };
        })();
    </script>
      <%- include('./editorPath') %>
</body>

</html>