<div class="container">

    <p>salve guys, enquanto essa pagina aqui nao fica pronta, vou deixar aqui um log do que chegou de material aqui pra gente com esse id que voce ta procurando ;)</p>
    
    <%if (conteudo) {%>
        <h1><%=conteudo.nome%></h1>
        <p><%=conteudo.conteudo_markdown%></p>
    <%} else {%>
        Ops, nao achei nada aqui :(
    <%}%>



</div>