<div class="editors-container" >



    <div class="form-group">
        <label for="opcaoId">Enunciado:</label>
        <div>
            <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
                style="display: none;" id="editor-open-btn"> Adicionar Equação
            </button>
            <div id="editor-container">               
            </div>
        </div>
    </div>

        <div class="form-group">
            <label for="resposta">Resposta:</label>
            <div>
                <button uk-tooltip="title: Clique para adicionar uma equação; pos: top-left" type="button"
                    style="display: none;" id="editor-open-btn-resposta"> Adicionar Equação
                </button>
                <div id="resposta">
                </div>
            </div>
        </div>
   </div>

     