 <input type="hidden" name="simuladoId" value="<%= simulado.id_simulado %>">
                    <input type="hidden" name="selectedQuestionIds" id="selectedQuestionIds">
<%- include('./table_container') %>


                    <!-- Paginação -->
                    <div id="pagination-container" class="pagination-custom"></div>

<div id="tabela-instrucoes" class="sr-only">
  Use Tab para navegar entre as células e barra de espaço para selecionar questões.
</div>