<link rel="stylesheet" href="/css/usuario/card.css">
<link rel="stylesheet" href="/css/usuario/Botão.css">

<main>
    <h1 class=" mt-5">Módulo de Simulados </h1>
    <hr>


    <h2 class="text-center">Simulados</h2>
    <div class="ag-format-container">

        <div class="ag-courses_box">

            <div class="ag-courses_item">
                <a href="/simulados/criar-simulado" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Criar simulado
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a href="/simulados/meus-simulados" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Meus simulados
                    </div>
                </a>
            </div>

        </div>

    </div>



    <% if (perfilUsuario==="PROFESSOR" ) { %>
        <h2 class="text-center">Área do professor</h2>

        <div class="ag-format-container">

            <div class="ag-courses_box">

                <div class="ag-courses_item">

                    <a href="/simulados/questoes" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Minhas questões
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="/simulados/registrar-questao/objetiva" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Criar questão objetiva
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="/simulados/registrar-questao/objetiva" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
                        <div class="ag-courses-item_title">
                            Criar questão dissertativa
                        </div>
                    </a>
                </div>

            </div>

        </div>

        <% } %>

</main>