<link rel="stylesheet" href="/css/usuario/card.css">
<link rel="stylesheet" href="/css/usuario/Botão.css">
<link rel="stylesheet" href="/revisao/css/colorful-container.css">

<main>
    <h1 class=" mt-5">Módulo de Simulados </h1>
    <hr>


    <h2 class="text-center">Simulados</h2>
    <br>
    
    <div class="colorful-container">
            <a href="/simulados/criar-simulado" class="colorful-btn">
                <div>
                    Criar Simulado
                </div>
            </a>
            
            <a href="/simulados/meus-simulados" class="colorful-btn">
                <div>
                    Meus simulados
                </div>
            </a>
        </div>
        <br>
        <br>
        <br>
   



    <% if (perfilUsuario==="PROFESSOR" ) { %>
        <h2 class="text-center">Área do professor</h2>
        <br>
      
            <div class="colorful-container">
            <a href="/simulados/questoes" class="colorful-btn">
                <div>
                    Minhas Questões
                </div>
            </a>
            
            <a href="/simulados/registrar-questao/objetiva" class="colorful-btn">
                <div>
                    Criar Questão Objetiva
                </div>
            </a>
            <a href="/simulados/registrar-questao/dissertativa" class="colorful-btn">
                <div>
                    Criar Questão Dissertativa
                </div>
            </a>
        </div>
        <br>



        <% } %>

</main>