span.tag {
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
    background-color: #a3c0ff;
}

.form-container {
    margin: 20px auto;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

@media screen and (max-width: 768px) {
    .form-group-palavra-chave .input-group>* {
        border-radius: 5px;
    }
}