<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Criar um tópico</title>
    <style>
    body {
      background-color: #f7fafc; /* Light gray background */
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container { /* Wrapper for the form */
      width: 100%;
      max-width: 400px;
      padding: 24px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .title { /* Form title */
      margin-bottom: 16px;
      font-size: 1.25rem;
      font-weight: 500;
      color: #37474f;
    }

    .label { /* Label for select element */
      display: block;
      margin-bottom: 4px;
      font-size: 0.875rem;
      font-weight: 600;
      color: #37474f;
    }

    .select { /* Select element styles */
      display: block;
      width: 100%;
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
    }

    .select:focus {
      outline: none;
      border-color: #9ca3af;
    }

    .topic-container { /* Container for topic inputs and buttons */
      margin-top: 16px;
    }

    .topic-group { /* Each topic input and remove button group */
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
    .button-group { /* Each topic input and remove button group */
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .topic-input { /* Topic input field */
      width: 100%;
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
    }

    .remove-button { /* Remove topic button */
      margin-left: 8px;
      gap: 5px;
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid black;
        color: black;
        cursor: pointer;

      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    .remove-button:hover { /* Button hover effect */
      background-color: #34d067;
    }

    .add-topic-button { /* Add new topic button */
      display: block;
      margin-top: 16px;
      gap: 5px;
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid black;
        color: black;
        cursor: pointer;

      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    .add-topic-button:hover {
      background-color: #20a87a;
    }

    .submit-button { /* Submit button */
      display: block;
      margin-top: 16px;
      padding: 8px 16px;
      gap: 5px;
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
 
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    .submit-button:hover {
      background-color:   
 #e9576b;
    }
    .flex-col-gap-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Ajustar o valor de acordo com a sua unidade Tailwind */
}
    </style>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <%- include('../partials/sidebar') %>
  <body>
    <div class="container">
      <div >
        <h2 class="titulo">Criar um tópico</h2>
      </div>
      <form action="/professor/registrar-topico" method="POST">
        <div class="topic-group">
          <label for="areaId" class="label">Selecione uma área:</label>
          <select name="areaId" id="areaId" class="select">
            <option value="">Selecione uma opção</option>
            <% Areas.forEach(area => { %>
              <option value="<%= area.id %>"><%= area.area %></option>
            <% }) %>
          </select>
        </div>
        <div id="topico-container">
          <div class="flex-col-gap-2">
            <div class="topic-group">
              <input type="text" name="topicos[]" placeholder="Digite o tópico" class="topic-input">
              <button class="remove-button" type="button" onclick="removeTopico(this)">Remover Tópico</button>
            </div>
          </div>
          
        </div>
        <div class="button-group">
            <button type="button" class="add-topic-button" onclick="addTopico()">Adicionar Novo Tópico</button>
            <button type="submit" class="submit-button">Registrar</button>
        </div>

      </form>
    </div>
    <script>
      function addTopico() {
        const container = document.getElementById("topico-container");
        const div = document.createElement("div");
        div.className = "topic-group";

        const input = document.createElement("input");
        input.type = "text";
        input.name = "topicos[]";
        input.placeholder = "Digite o tópico";
        input.className = "topic-input";

        const button = document.createElement("button");
        button.type = "button";
        button.textContent = "Remover topico";
        button.className = "remove-button";
        button.onclick = function() {
          div.remove();
        };

        div.appendChild(input);
        div.appendChild(button);
        container.appendChild(div);
      }
    </script>
  </body>
</html>

