<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>Criar um tópico - IFVest</title>
    <link rel="stylesheet" href="/css/modalEditor.css" />

    <link rel="stylesheet" href="/css/professor/criar_topicos.css">
    <link rel="stylesheet" href="/css/styles.css">
   


  </head>
  <body>
    
    <main>
        <div class="container">
      <div class="modal-header">
        <h2>Criar um tópico</h2>
      
      </div>
      <form action="/professor/registrar-topico" method="POST">
        <div>
            <label for="areaId">Selecione uma área:</label>
            <select name="areaIdTopico" id="areaIdTopico"
               >
                <option value="">Selecione uma opção</option>
                <% Areas.forEach(area=> { %>
                    <option value="<%= area.id_area %>">
                        <%= area.nome %>
                    </option>
                    <% }); %>
            </select>
        </div>
      <div class="modal-body">
        <div id="topico-container">
            
            <div class="topico-item">
                
                <input type="text" name="topico" placeholder="Digite o tópico" maxlength="100">


                  
            </div>
            
        </div>

        <button type="submit" class="buttonModal">Registrar Topico</button>
      </form>
      </div>
    </div>
</div>
    <main>
       
        <script src="/js/main.js"></script>
        <script src="/js/validate.js"></script>
  </body>
</html>
