<!-- views/selecionar.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IFVest - Selecionar Conteúdo</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <%- include('../partials/sidebar') %>

      <main class="flashcard-content">
        <h2 class="title">Selecione o Conteúdo</h2>

        <form action="/flashcards" method="GET" class="filters">

          <select name="id_area" id="area" class="select" required>
            <option value="">Selecione a Área</option>
          </select>

          <select name="id_topico" id="topico" class="select">
            <option value="">Selecione o Tópico</option>
          </select>

          <select name="id_dificuldade" id="dificuldade" class="select">
            <option value="">Selecione a Dificuldade</option>
          </select>

          <button type="submit" class="simulado-btn">VER FLASHCARDS</button>
        </form>
      </main>
    </div>

    <script src="/js/flashcard/carregarFiltros.js"></script>
  </body>
</html>
