<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/usuario/card.css">
  <link rel="stylesheet" href="/css/usuario/Botão.css">
  <title>IFVest - Home</title>
</head>

<body>
  <%- include('../partials/sidebar') %>
   
    <main>
      <h1>Oops, ainda estamos em obra por aqui...</h1>
      <h2 style="text-align: center;">Em breve teremos novidades para o Modulo de Revisão de Conteúdo!</h2>
    </main>
    
</body>

</html>