
  <head>
    <link rel="stylesheet" href="/css/bioTimeDesenvolvedor.css">
  </head>
 
  <h1 class="TimeDesenvolvedores">Desenvolvedores</h1>
  <div class="space space--small"></div>
  <div class="cards">
    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Aline.png" alt=""/>
        </div>

        <div class="card__content">
          <h1 class="card__title">Aline de Lucas</h1>
          <span class="card__function">Idealizadora da Plataforma IFVest</span>

          <p class="card__description">
            Graduada em Matemática pela Universidade Federal de Santa Maria (2003), com mestrado (2005) e doutorado (2009) em Geofísica Espacial pelo INPE. Atua no curso de Análise e Desenvolvimento de Sistemas no IFSP Campus Jacareí desde 2018. Foi a idealizadora da Plataforma IFVest, dando nome ao projeto e colaborando com os colegas especialistas em desenvolvimento de software e web para orientar os bolsistas envolvidos.
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Rafael.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Rafael</h1>
          <span class="card__function">Desenvolvedor Full Stack</span>

          <p class="card__description">
            Formado no IFSP Jacareí e atualmente trabalho como desenvolvedor Full Stack utilizando React, Flutter e C#. Meu primeiro grande projeto foi a primeira versão do IFVest, um projeto muito desafiador, mas também muito divertido. Nas minhas horas livres, gosto de programar e estudar novos idiomas.
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Guilherme_O_Souza.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Guilherme O. Souza</h1>
          <span class="card__function">Implementação da curadoria semiautomatica e manuteção da plataforma</span>

          <p class="card__description">
            Sou técnico em Desenvolvimento de Sistemas e estou prestes a concluir minha graduação em Análise e Desenvolvimento de Sistemas pelo IFSP Jacareí. Tenho experiência com uma variedade de linguagens de programação, incluindo PHP, JavaScript (HTML e CSS), Java, C#, Python, C++ e Dart. Além disso, possuo um conhecimento considerável em manutenção de hardware e software. Na plataforma IFVEST, atuei na manutenção da plataforma e no desenvolvimento de uma curadoria semiautomática utilizando a API da inteligência artificial da Google, o Gemini.

          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/perfil.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Ruan Patrick</h1>
          <span class="card__function">Implementação do editor de equações, manuteção da plataforma e hospedagem da plataforma</span>

          <p class="card__description">
            Texto
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/perfil.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Cristhian ...</h1>
          <span class="card__function">Desenvolvedor da plataforma</span>

          <p class="card__description">
            Texto
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/perfil.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Rafaela Machado</h1>
          <span class="card__function">Teste de software</span>

          <p class="card__description">
            Sou estudante de Análise e Desenvolvimento de Sistemas no Instituto Federal de São Paulo, campus Jacareí. Participei do projeto IFvest, uma plataforma para preparação de alunos para o ENEM e vestibulares, como bolsista. Atuei na realização de testes de software, focando na acessibilidade e desempenho da plataforma, utilizando ferramentas como JMeter, Selenium, Jest e k6. Apliquei conhecimentos adquiridos em disciplinas como Desenvolvimento Web e Teste de Software para garantir que a plataforma funcione adequadamente e seja acessível a todos os usuários.
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/perfil.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Sóstenes ...</h1>
          <span class="card__function">???</span>

          <p class="card__description">
            Texto
          </p>
        </div>
      </div>
    </div>

    <div class="card" data-index="0">
      <div class="card__inner">
        <div class="card__image-container">
          <img class="card__image" src="/img/desenvolvedores/Luciana.png" alt=""/>
        </div>
        <div class="card__content">
          <h1 class="card__title">Luciana Rebelo</h1>
          <span class="card__function">Orientadora dos alunos bolsistas no começo do projeto IFVest, juntamente com a professora Aline de Lucas</span>

          <p class="card__description">
            Doutora em Computação Aplicada pelo INPE - Instituto Nacional de Pesquisas Espaciais (2015), Mestre em Engenharia Eletrônica e Computação pelo ITA - Instituto Tecnológico de Aeronáutica (2009) e Bacharel em Sistemas de Informação pela UNESP - Universidade Estadual Paulista (2001). É docente no Instituto Federal de Educação, Ciência e Tecnologia de São Paulo, lotada no campus Jacareí, cargo do qual está afastada para realizar Pós-doutorado no Gran Sasso Science Institute (GSSI), Itália. Atuou também como colaboradora no programa de Pós-Graduação em Computação Aplicada no INPE.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>



  <script src="/js/timeDesenvolvimento.js"></script>