            .main {
                height: 100vh;
            }

            .container {
                padding-top: 70px;
            }

            .table-responsive,
            .pagination {
                margin-bottom: 0;
            }