<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Interativo</title>
    <link rel="stylesheet" href="/quiz/css/Inicio.css">
    <link rel="stylesheet" href="/quiz/css/main.css">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
 <main class="my-5">
    <div class="form-container">
        <h1>Quiz de Conhecimentos</h1>
        <p>Teste seus conhecimentos e veja se consegue bater o recorde!</p>

        <a href="/quiz/MenuQuiz" class="BotaoQuiz">Inicio de jogo</a>
        <a href="/quiz/placar" class="BotaoQuiz">Placares de líderes</a>
    </div>
</main>
</body>

</html>