<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placar de Líderes</title>
    <link rel="stylesheet" href="/quiz/css/estiloPlacar.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/quiz/css/main.css">
    <script src="/quiz/Js/placarJogo.js" defer></script>

</head>

<body>

    <div class="container">
        <h1>Placar de Líderes</h1>
        <p>Veja os melhores jogadores!</p>

        <ol id="lista-placares">
            <li>Carregando placares...</li>
        </ol>

       <a href="/quiz" class="btn-link btn-cinza">Voltar</a>
    </div>

</body>

</html>