<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/card.css">

  <title>Responsive sidebar submenus</title>
</head>

<body>
  <%- include('../partials/sidebar') %>
    <link rel="stylesheet" href="/css/Botão.css">
    <main>
      <h1>Selecione uma Opção </h1>
      <p style="display: none;"></p>

      <div class="ag-format-container" >

        <div class="ag-courses_box">
        <div class="ag-courses_item">
          <a href="/simulados/meus-simulados" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Meus Simulados
            </div>
          </a>
        </div>

        <div class="ag-courses_item" ">
          <a href="/simulados/visualizar" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Simulados

            </div>
          </a>
        </div>




        <div class="ag-courses_item">
          <a href="/simulados/criar-simulado" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Criar Simulado

            </div>
          </a>
        </div>
      </div>
      </div>
    </main>

    <!--========== MAIN JS ==========-->
    <script src="/js/main.js"></script>
</body>

</html>