<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/usuario/card.css">
  <link rel="stylesheet" href="/css/usuario/Botão.css">
  <link rel="stylesheet" href="/css/shared.css">
  <link rel="stylesheet" href="/css/colorful-container.css">
  <title>IFVest - Home</title>
</head>

<body>


  <main>
    <h1 class="mb-5 mt-5">Módulos disponíveis</h1>
    
    <div class="colorful-container">
      <a href="/simulados" class="colorful-btn">
        <div>
          Simulados
        </div>
      </a>
      <a href="/revisao/" class="colorful-btn">
        <div>
          Revisão
        </div>
      </a>
    </div>

    <h2 class="mb-3 mt-3">Opções temporárias de administração</h2>

    <div class="colorful-container">
      <a href="/shared/areas/" class="colorful-btn">
        <div>
          Áreas
        </div>
      </a>
      <a href="/shared/topicos/" class="colorful-btn">
        <div>
          Tópicos
        </div>
      </a>
      <a href="/shared/assuntos/" class="colorful-btn">
        <div>
          Assuntos
        </div>
      </a>
    </div>

    
  </main>

  <!--========== MAIN JS ==========-->
  <script src="/js/main.js"></script>

</body>

</html>