<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/usuario/card.css">
  <link rel="stylesheet" href="/css/usuario/Botão.css">
  <link rel="stylesheet" href="/css/shared.css">
  <link rel="stylesheet" href="/css/colorful-container.css">
  <title>IFVest - Home</title>
</head>

<body>


  <main>
    <h1>Selecione uma Opção </h1>
    <p style="display: none;"></p>

    <div class="ag-format-container">

      <div class="ag-courses_box">
        
        <div class="ag-courses_item">
          <a href="/simulados" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
            <div class="ag-courses-item_title">
              Simulados
            </div>
          </a>
        </div>

        <div class="ag-courses_item">
          <a href="/revisao/" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
            <div class="ag-courses-item_title">
              Revisão
            </div>
          </a>
        </div>

      </div>
    </div>

    <div class="colorful-container">
      <a href="/shared/areas/" class="colorful-btn">
        <div>
          Áreas
        </div>
      </a>
      <a href="/shared/topicos/" class="colorful-btn">
        <div>
          Tópicos
        </div>
      </a>
      <a href="/shared/assuntos/" class="colorful-btn">
        <div>
          Assuntos
        </div>
      </a>
    </div>

    
  </main>

  <!--========== MAIN JS ==========-->
  <script src="/js/main.js"></script>

</body>

</html>